In [1]:
import numpy as np
import pandas as pd
df= pd.read_csv("students_placement.csv")

In [2]:
df.shape

(300, 4)

In [3]:
df.sample(5)

     cgpa   iq  profile_score  placed
168  8.12   94             72       1
192  5.60  109             57       0
291  7.83  101             41       1
190  7.21   96             59       1
78   6.83  111             63       0

In [4]:
X= df.drop(columns=["placed"])
y= df["placed"]

# Without Scaling

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size= 0.25, random_state= 2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# scaler=StandardScaler()
# x_train_scaled=scaler.fit_transform(x_train)
# x_test_scaled= scaler.transform(x_test)

LG= LogisticRegression().fit(x_train, y_train)
y_pred= LG.predict(x_test)
accuracy_score(y_test, y_pred)

result= LG.predict(np.array([[6, 96, 32]]))
result[0]

C:\Users\samar\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size= 0.25, random_state= 2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


scaler= StandardScaler()
x_train_scaled= scaler.fit_transform(x_train)
x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train_scaled, y_train)
y_pred= LG.predict(x_test_scaled)
accuracy_score(y_test, y_pred)

result=LG.predict(scaler.transform([[6, 96, 32]]))

result[0]

C:\Users\samar\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1

# pickeling and unpickeling

In [7]:
import pickle
pickle.dump(LG, open("model.pkl", "wb"))

In [8]:
df.sample(10)

     cgpa   iq  profile_score  placed
254  7.34   97             51       1
261  7.51   90             69       1
189  6.04  104             30       0
51   6.75  106             69       0
193  8.37  107             58       0
238  8.29   89             70       1
11   5.64  106             36       0
82   6.06  116             53       0
172  6.62   96             37       1
240  7.49   95             64       1

In [9]:
LG.predict(np.array([[0, 0, 0]]))

array([1], dtype=int64)